@model InternalProj.ViewModel.WorkOrderViewModel

@{
    var istTimeZone = TimeZoneInfo.FindSystemTimeZoneById("India Standard Time");
    DateTime? wdateUtc = Model.WorkOrder.Wdate;

    string displayDate = wdateUtc.HasValue
        ? TimeZoneInfo.ConvertTimeFromUtc(DateTime.SpecifyKind(wdateUtc.Value, DateTimeKind.Utc), istTimeZone).ToString("dd-MM-yyyy HH:mm:ss")
        : "N/A";
}

<div>
    <h5>Work Order No: @Model.WorkOrder.WorkOrderNo</h5>
    <a asp-controller="WorkOrder" asp-action="Edit" asp-route-id="@Model.WorkOrder.WorkOrderId" class="btn btn-primary btn-sm">
        Edit Work Order
    </a>

    <p><strong>Studio:</strong> @Model.WorkOrder.Customer.StudioName</p>
    <p><strong>Work Type:</strong> @Model.WorkOrder.WorkType.TypeName</p>
    <p><strong>Date:</strong> @displayDate</p>
    <p><strong>Size:</strong> @Model.WorkOrder.AlbumSize.Size</p>

    <hr />
    <h6>Work Details</h6>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Sub Head</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>GTotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model.WorkDetailsList)
            {
                var combinedSubhead = $"{d.SubHead?.SubHeadName ?? ""} - {d.Size?.Size ?? ""} - {d.ChildSubHead?.ChildSubHeadName ?? ""}";
                <tr>
                    <td>@combinedSubhead</td>
                    <td>@d.Qty</td>
                    <td>@d.Rate.ToString("N2")</td>
                    <td>@d.GTotal.ToString("N2")</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th colspan="3" class="text-end">Subtotal</th>
                <th>@(Model.WorkOrder.SubTotal.ToString("N2"))</th>
            </tr>
            <tr>
                <th colspan="3" class="text-end">Advance</th>
                <th>@(Model.WorkOrder.Advance?.ToString("N2") ?? "0.00")</th>
            </tr>
            <tr>
                <th colspan="3" class="text-end">Balance</th>
                @* <th>@((Model.WorkOrder.SubTotal - (Model.WorkOrder.Advance ?? 0)).ToString("N2"))</th> *@
                <th>@(Model.Balance?.ToString("N2") ?? "0.00")</th>
            </tr>
        </tfoot>

    </table>
</div>
