@model IEnumerable<InternalProj.Models.GeneralSettingsAuditLog>

@{
    ViewData["Title"] = "General Settings Audit Logs";
}
<div class="common-pages-layout">

    <h2>@ViewData["Title"]</h2>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Setting Type</th>
                <th>Old Value</th>
                <th>New Value</th>
                <th>Modified Date</th>
                <th>Staff ID</th>
                <th>Staff Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td>@log.Id</td>
                    <td>@log.SettingType</td>
                    <td>
                        <pre style="white-space: pre-wrap; font-family: inherit;">@log.OldValue</pre>
                    </td>
                    <td>
                        <pre style="white-space: pre-wrap; font-family: inherit;">@log.NewValue</pre>
                    </td>
                    <td>@log.ModifiedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@log.StaffId</td>
                    <td>@log.StaffName</td>
                </tr>
            }
        </tbody>
    </table>
</div>