@model List<InternalProj.Models.LoginLogs>

@{
    ViewData["Title"] = "Login History";
    // Layout = null;
}

<style>
    .table-headings {
        padding: 8px 16px;
        text-align: left;
        font: 600 14px sans-serif;
        color: #374151;
        border-right: 1px solid #d1d5db;
    }

    .table-content {
        padding: 12px 16px;
        white-space: nowrap;
        border-right: 1px solid #d1d5db;
        color: #111827;
        font-size: 14px;
    }
</style>

<div class="common-pages-layout">
    <div class="common-inner-container">
        <h3 class="page-heading">Login History</h3>
        <div style="overflow-x: auto;">
            <table class="min-w-full border border-gray-300 divide-y divide-gray-200">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="table-headings">Staff Name</th>
                        <th class="table-headings">Login Time</th>
                        <th class="table-headings">Local IP</th>
                        <th class="table-headings">Public IP</th>
                        <th class="table-headings">Location</th>
                        <th class="table-headings">Logout Time</th>
                        <th class="table-headings">Reason</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @foreach (var log in Model)
                    {
                        <tr class="hover:bg-gray-50">
                            <td class="table-content font-medium">@log.StaffName</td>
                            <td class="table-content">@log.LoginTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td class="table-content">@log.Local_IPAddres</td>
                            <td class="table-content">@log.Public_IPAddress</td>
                            <td class="table-content">@log.Location</td>
                            <td class="table-content">@(log.LogoutTime?.ToString("yyyy-MM-dd HH:mm"))</td>
                            <td class="table-content">@log.Reason</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
